@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/*font-family: 'Montserrat', sans-serif;*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(240, 78%, 98%);
}

/*/////////////// Layout ///////////////*/

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    min-width: 300px;
}

header{
    padding-top: 4em;
    text-align: center;
}


section{
    width: 85%;
    height: 28em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    border-radius: .5em;
    box-shadow: 0px 1px 70px 26px rgba(0,0,0,.125);
}

.pricing{
    font-size: 4rem;
    margin-bottom: .5em;
}


.line-break{
    border: solid 1px rgba(26, 25, 25, 0.274);
    width: 90%;
}

.professional{
    background-image: linear-gradient(190deg, hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%) 100%);
    color: white;
}



/*/////////////// Typeography ///////////////*/

h2{
    padding-top: 1.5em;
    margin-bottom: 1em;
    font-size: 1.2rem;
    color: hsl(233, 13%, 49%);
}

.professional h2{
    color: white;
}

section .line-break{
    background-color: rgb(236, 234, 234);
    opacity: 50%;
}


p{
    padding: 1em;
}

.basic p{
    color: hsl(233, 13%, 49%);;
}

.master p{
    color: hsl(233, 13%, 49%);
}


.date{
    padding: .5em;
}


/*/////////////// Toggle button ///////////////*/

.toggle-container{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.toggle-btn{
    width: 80px;
    height: 37px;
    background: hsl(237, 63%, 64%);
    margin: 0 1em;
    border-radius: 2rem;
    transition: all 300ms ease-in-out;
}

.inner-circle{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    margin: 3px;
    transition: all 300ms ease-in-out;
}

.toggle-btn.active{
    background-color: hsl(239, 46%, 79%);
}

.toggle-btn.active > .inner-circle{
margin-left: 47px;
}



/*/////////////// Learn More buttons ///////////////*/



button{
    width: 90%;
    height: 3.5em;
    border-radius: .5rem;
    margin-top: 2em;
    letter-spacing: 3px;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    border: none;
}



.basic button{
    background-image: linear-gradient(90deg, hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%) 100%);
}

.master button{
    background-image: linear-gradient(90deg, hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%) 100%);
}

.basic-btn:hover{
    background-color: white;
    background-image: none;
    border: solid black 1px;
    color: hsl(237, 63%, 64%);
}


.master-btn:hover{
    background-color: white;
    background-image: none;
    border: solid black 1px;
    color: hsl(237, 63%, 64%);
}

.pro-btn{
    background-color: white;
    color: hsl(237, 63%, 64%);
    font-weight: 700;
}

.pro-btn:hover{
    background-image: linear-gradient(190deg, hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%) 100%);
    border: solid 1px white;
    color: white;
}


/*/////////////// Desktop ///////////////*/

@media (min-width: 800px){

.main-content{
    display: flex;
    flex-direction: row;
    max-width: 65em;
    margin: auto;
    padding: 0;
}

section{
    margin: .2em;
}

.professional{
    min-height: 30em;
}


}